<input type="search" class="form-control" placeholder="buscar..." ng-model="search.$" >

<table st-table="ctrl.equipos_view" 
       st-safe-src="ctrl.equipos" 
       class="table table-striped">
    <thead>
        <tr> 
            <th>id_equipo</th>
            <th st-sort="nombre">nombre</th>
            <th>liga</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="equipo in ctrl.equipos_view|filter:search">
            <td>{{equipo.id_equipo}}</td>
            <td>{{equipo.nombre}}</td>
            <td>{{equipo.liga}} ({{equipo.id_liga}})</td>
        </tr>
    </tbody>
</table>